:root {
    --text-color-dark: #111111;
    --text-color-light: #fefefe;
    --chrome-link-color: #333;
    --chrome-link-color-hover: #555;
}

.col-normal {
	background-color: rgb(235, 235, 235);
	color: var(--text-color-dark);
}

.col-primary {
    background-color: rgb(0, 130, 236);
    color: var(--text-color-light);
}

.col-caution {
    background-color: rgb(245, 131, 0);
    color: var(--text-color-light);
}

.col-danger {
    background-color: rgb(236, 75, 0);
    color: var(--text-color-light);
}